.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s ease-in alternate-reverse;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.clock-face {
  color: yellow;
  font-size: 2em;
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
